.root {
  background-color: #f3f4f5;
  padding: 3rem 0;
  margin: rem(-4px) 0;
}

.description {
  position: relative;
}

.links {
  margin-top: rem(20px);
}

.logo {
  position: absolute;
  right: 0;
  top: 0;
}
