.root {
  position: relative;
  z-index: 0;
  box-shadow: var(--mantine-shadow-md);
  background-color: var(--mantine-color-body);
  min-height: 100vh;
  gap: 0;
  display: grid;
  grid-template-columns: 1;
  gap: -1;
}
