.container {
  padding-top: rem(220px);
  padding-bottom: rem(180px);
}

.title {
  font-size: em(76px);
  font-weight: 700;
  color: var(--mantine-color-violet-6);
}

.description {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
  font-size: rem(24px);
  max-width: rem(800px);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));

  @media (max-width: em(960px)) {
    margin-top: var(--mantine-spacing-lg);
    font-size: rem(18px);
  }
}

.blogLink {
  --border-width: 3.2px;
  --border-radius: var(--mantine-radius-md);
  --background-spread: 400px;

  margin-top: var(--mantine-spacing-lg);
  text-align: center;
  display: block;
  position: relative;
  overflow: hidden;
  font-size: rem(16px);
  background-color: transparent;
  border: 0;
  width: rem(126px);
  border-radius: var(--border-radius);
  padding: var(--border-width);
  transition: var(--var-transition);

  &:hover {
    box-shadow: var(--mantine-shadow-xl);
  }

  &::after {
    content: '';
    position: absolute;
    background: conic-gradient(
      from 180deg at 50% 50%,
      #00d1ff 0deg,
      #ee27ff 106.88deg,
      #205eff 206.25deg,
      #00f0ff 286.87deg,
      #00d1ff 360deg
    );
    top: calc(var(--background-spread) * -1);
    right: calc(var(--background-spread) * -1);
    bottom: calc(var(--background-spread) * -1);
    left: calc(var(--background-spread) * -1);
    z-index: -1;
    animation: 3s rotate linear infinite;
  }

  span {
    display: block;
    background-color: light-dark(
      var(--mantine-color-white),
      var(--mantine-color-black)
    );
    padding: rem(6px) rem(10px);
    border-radius: calc(var(--border-radius) - var(--border-width) / 2);
  }
}

@keyframes rotate {
  from {
    transfrom: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
