.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  font-weight: 700;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.title {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-md);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
